body {
  font-family: "Atma", serif;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Main heading */
h1 {
  font-size: 5rem;
  color: rgb(55, 55, 55);
  animation: glow 1s ease-in-out infinite alternate;
}

/* Animation Fix */
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00dce6, 0 0 30px #00dce6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #00dce6, 0 0 30px #00dce6;
  }
}

/* Styling for details text */
.details-text p {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Centering Start Screen */
#start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Start Button */
.start-button {
  background-color: #ffffff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.3s ease-in-out;
}

/* Start Button Link */
.start-button a {
  text-decoration: none;
  color: black;
}

/* Start Button Hover Effect */
.start-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.start-button:hover:after {
  transform: translate(0, 0);
}

.start-button:active {
  background-color: white;
  outline: 0;
}

.start-button:hover {
  outline: 0;
  transform: scale(1.05);
}

/* Responsive Tweaks */
@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  .details-text p {
    font-size: 1rem;
  }
  .start-button {
    font-size: 16px;
    padding: 0 20px;
    height: 45px;
  }
}
