body {
  margin: 0;
  padding: 0;
  font-family: "Atma", serif;
}

#board {
  background-image: url("../assets/images/race-track.png");

  background-repeat-x: no-repeat;
  background-size: 103%;
  background-repeat-y: repeat;
  background-position-y: 27px;
  animation: loopingRoad 200s linear infinite;
  height: 100%;
  width: 712px;

  position: absolute;
  top: 0;
  left: 29vw;
  overflow: hidden;
}

@keyframes loopingRoad {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100000px;
  }
}

#race-track .track {
  margin-left: 38%;
  width: 300px;
  height: 100vh;
  position: relative;
}

#player {
  position: absolute;
}

.obstacle {
  position: absolute;
}

.alphabets {
  position: absolute;
}

.alphabets p {
  color: chocolate;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

#word-display-container {
  width: auto;
  height: auto;
  position: absolute;
  top: 20%;
  right: 10%;
}

#word-display-container h2 {
  margin-bottom: -50px;
}

#word-display-container p {
  color: black;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

#gameover-screen {
  font-family: "Courier New", Courier, monospace;

  background-image: url("../assets/images/game-over.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 50% 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none; /* Initially hidden */
}
.h1-class {
  font-size: 10px;
}
#gameover-screen button {
  font-family: "Courier New", Courier, monospace;

  background-color: transparent;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 120%;
  font-weight: bold;
}

#restart-button {
  margin-right: 20px;
}

.fa-refresh {
  margin-right: 10px;
  color: yellow;
}

#quit {
  margin-left: 20px;
}

.fa-times {
  margin-right: 10px;
  color: red;
}
